<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Nexus" value="https://eweb.skidata.net/nexus/service/local/nuget/nuget-public" />
    </packageSources>
    <packageSourceCredentials>
        <Nexus>
            <add key="Username" value="kial" />
            <add key="ClearTextPassword" value="Interalpin2015!" />
        </Nexus>
    </packageSourceCredentials> 
</configuration>